<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<array>
		<dict>
			<key>Image</key>
			<string>Starfish5.jpg</string>
			<key>Place</key>
			<string>Star Fish</string>
			<key>Country</key>
			<string>Region 1</string>
			<key>Color</key>
			<string>Light Blue</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>dolphins.jpg</string>
			<key>Place</key>
			<string>Dolphin</string>
			<key>Country</key>
			<string>Region 2</string>
			<key>Color</key>
			<string>Green</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>whale.jpg</string>
			<key>Place</key>
			<string>Whale</string>
			<key>Country</key>
			<string>Region 3</string>
			<key>Color</key>
			<string>White</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>Beluga.jpg</string>
			<key>Place</key>
			<string>Beluga</string>
			<key>Country</key>
			<string>Region 4</string>
			<key>Color</key>
			<string>Dark Blue</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>sharks.jpg</string>
			<key>Place</key>
			<string>Sharks</string>
			<key>Country</key>
			<string>Region 5</string>
			<key>Color</key>
			<string>Macbook White</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-6.jpeg</string>
			<key>Place</key>
			<string>Dublin</string>
			<key>Country</key>
			<string>Ireland</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-7.jpeg</string>
			<key>Place</key>
			<string>Amsterdam</string>
			<key>Country</key>
			<string>Netherlands</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-8.jpeg</string>
			<key>Place</key>
			<string>Zurich</string>
			<key>Country</key>
			<string>Switzerland</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-9.jpeg</string>
			<key>Place</key>
			<string>Prague</string>
			<key>Country</key>
			<string>Czech Republic</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>images-10.jpeg</string>
			<key>Place</key>
			<string>Paris</string>
			<key>Country</key>
			<string>France</string>
		</dict>
	</array>
</dict>
</plist>
